//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 26 13:37:04 2026
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

