//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 13 20:57:44 2026
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

